<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="margin-top: 5px;" href="/">
    Index <span class="sr-only">(current)</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="../covid">Covid Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../user">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>